.main {
    padding: 0 50px;
    width: 90%;
    overflow-x: auto;
    overflow-y: visible;
    display: flex;
    flex-direction: column;
    align-items: baseline;

}

.main-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}




table {
    font-family: inter;
    max-width: 500px;
    min-width: 800px;
    width: 50%;

    border-collapse: collapse;
    margin-top: 40px;
    border: 4px;
    overflow-x: scroll;
    border: #686c7b 1px solid;

}

table th:nth-child(even) {
    color: #FFA2C0;
}

table th:nth-child(odd) {
    color: #CFC8FF;
}

table tr:nth-child(even) th:first-child {
    color: #6C5DD0;
}

table tr:nth-child(odd) th:first-child {
    color: #CFC8FF;
}

table tr:first-child {
    background-color: #262A34;
}



th {
    width: 25px;
    height: 29px;
    position: relative;
}

table th:first-child,
table td:first-child {
    padding: 0 15px;
    width: 40px;

}


td {
    width: calc(100%/30);
    border: 1px;
}

input[type="checkbox"] {
    appearance: none;
    padding: 0;
    margin: 1px;
    width: 27px;
    height: 27px;

    border: 3px solid #555;
    border-radius: 4px;
    background-color: #9e9d9d;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    transition: 0.2s ease;

}

input[type="checkbox"]:checked {
    background-color: #7df491;
    border-color: #1cb767;
    box-shadow: #0ec064 0px 0px 4px -2px;
}

input[type="checkbox"]:hover {
    transform: scale(1.1);
    transition: 0.2s ease;
}

input[type="button"] {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    cursor: pointer;
    color: #53401e;
    text-decoration: none;
    border: 1px solid #a5864c;
    background-color: #FFCE73;
    box-shadow: 0px 0px 3px -1px #FFCE73;
    border-radius: 3px;
    margin: 2px;
    transition: 0.2s ease;

}


input[type="text"] {
    transition: 0.5s ease;
    color: #53401e;
    text-decoration: none;
    border: 2px solid #696866;
    background-color: #e4dbcb;
    box-shadow: 0px 1px 2px black;
    border-radius: 3px;
}

input[type="text"]:focus {
    outline: none;

}

input[type="button"]:hover {
    transform: scale(1.04);
    transition: background-color 0.2s ease, transform 0.1s ease;
}

input[type="button"].clear {
    background-color: #f978a1;
    border-color: #dc5d85;
    box-shadow: #f978a1 0px 0px 3px -1px;
    color: #982f50;

}


input[type="button"].delete-btn {
    position: absolute;
    font-weight: 900;
    left: -14px;
    top: 3px;
    font-size: 10px;
    padding: 3px 6px;
    background-color: rgb(77, 27, 27);
    color: rgb(209, 58, 58);
    border-color: rgb(91, 48, 48);
    box-shadow: 0px 0px 2px rgb(0, 0, 0);
    transition: 0.3s ease;
    opacity: 0;
    visibility: hidden;

    transition: opacity 0.3s ease ease-out;


}

th:hover .delete-btn {

    opacity: 1;
    visibility: visible;

}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[type="number"] {
    appearance: textfield;
}

input[type="number"]:focus {
    outline: none;

}

.sleep-input {
    width: 20px;
    height: 20px;
    background-color: #262A34;
    border: 1px solid #5f87ed;
    color: #c4c5d8;
    border-radius: 5px;
    margin-left: 2.2px;
    text-align: center;
}


#sleep-row {
    color: #5f87ed;
    border: 0.5px solid #678ae4;
    letter-spacing: 1.5px;
}