.main {
    padding: 0 50px;
    max-width: 100%;
    overflow-x: auto;
}

#root {
    display: flex;
    justify-content: center;
    width: 100%;
}

table {
    max-width: 500px;
    width: 50%;

    border-collapse: collapse;
    margin-top: 40px;
    border: 4px;
    overflow-x: scroll;
    border: #686c7b 1px solid;

}

table th:nth-child(even) {
    color: #FFA2C0;
}

table th:nth-child(odd) {
    color: #CFC8FF;
}

table tr:nth-child(even) th:first-child {
    color: #6C5DD0;
}

table tr:nth-child(odd) th:first-child {
    color: #CFC8FF;
}

table tr:nth-child(odd) td {
    background-color: #2f3138;
}



th {
    width: 25px;
    height: 29px;
}

table th:first-child,
table td:first-child {
    padding: 0 15px;
    width: 40px;

}


td {
    width: calc(100%/30);
    border: 1px;
}

input[type="checkbox"] {
    appearance: none;
    padding: 0;
    margin: 1px;
    width: 27px;
    height: 27px;

    border: 3px solid #555;
    border-radius: 4px;
    background-color: #9e9d9d;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    transition: 0.2s ease;

}

input[type="checkbox"]:checked {
    background-color: #7df491;
    border-color: #1cb767;
    box-shadow: #0ec064 0px 0px 4px -2px;
}

input[type="checkbox"]:hover {
    transform: scale(1.1);
    transition: 0.2s ease;
}

input[type="button"] {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    cursor: pointer;
    color: #53401e;
    text-decoration: none;
    border: 1px solid #a5864c;
    background-color: #FFCE73;
    box-shadow: 0px 1px 2px black;
    border-radius: 3px;
    margin: 2px;
    transition: 0.2s ease;

}


input[type="text"] {
    transition: 0.5s ease;
    color: #53401e;
    text-decoration: none;
    border: 2px solid #696866;
    background-color: #e4dbcb;
    box-shadow: 0px 1px 2px black;
    border-radius: 3px;
}

input[type="text"]:focus {
    outline: none;

}

input[type="button"]:hover {
    transform: scale(1.04);
    transition: 0.2s ease;
}

input[type="button"].clear {
    background-color: #f978a1;
    border-color: #dc5d85;
    box-shadow: #f978a1 0px 0px 2px;
    color: #982f50;

}